* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
}

html,
body * {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.container body {
    background: linear-gradient( rgba(246, 247, 249, 0.8), rgba(246, 247, 249, 0.8)), url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/sky-clouds-cloudy-mountain.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 200px;
    background-image: url("../ej-images/sasha-stories-0IvpEBGw8aw-unsplash.jpg");
    display: none;
    /* filter: blur(8px);
    -webkit-filter: blur(8px);*/
    /*Full height*/
    height: 100%;
    /*Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.frame {
    height: 575px;
    width: 430px;
    background: linear-gradient(black, rgb(56, 56, 56)), url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.5s ease;
}

.frame-long {
    height: 1150px;
}

.frame-short {
    height: 400px;
    margin-top: 50px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
}

.container .nav {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
    transition: all 0.5s ease;
}

.nav-up {
    transform: translateY(-100px);
    opacity: 0;
}

.container li {
    padding-left: 10px;
    font-size: 18px;
    display: inline;
    text-align: left;
    text-transform: uppercase;
    padding-right: 10px;
    color: #ffffff;
}

.signin-active a {
    padding-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 2px orange;
    transition: all 0.25s ease;
    cursor: pointer;
}

.signin-inactive a {
    padding-bottom: 0;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    border-bottom: none;
    cursor: pointer;
}

.signup-active a {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 2px orange;
    padding-bottom: 10px;
}

.signup-inactive a {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    transition: all 0.25s ease;
}

.form-signin {
    width: 430px;
    height: 375px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 55px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.form-signin-left {
    transform: translateX(-400px);
    opacity: 0;
}

.form-signup {
    width: 430px;
    height: 375px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 55px;
    position: relative;
    top: -375px;
    left: 400px;
    opacity: 0;
    transition: all 0.5s ease;
}

.form-signup-left {
    transform: translateX(-399px);
    opacity: 1;
}

.form-signup-down {
    top: 0px;
    opacity: 0;
}

.success {
    width: 80%;
    height: 150px;
    text-align: center;
    position: relative;
    top: -890px;
    left: 450px;
    opacity: 0;
    transition: all 0.8s 0.4s ease;
}

.success-left {
    transform: translateX(-406px);
    opacity: 1;
}

.successtext {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin-top: -35px;
    padding-left: 37px;
    padding-right: 37px;
}

#check path {
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.85px;
    stroke-dasharray: 60px 300px;
    stroke-dashoffset: -166px;
    fill: rgba(255, 255, 255, 0);
    transition: stroke-dashoffset 2s ease 0.5s, fill 1.5s ease 1s;
}

#check.checked path {
    stroke-dashoffset: 33px;
    fill: rgba(255, 255, 255, 0.03);
}

.form-signin input,
.form-signup input {
    color: #ffffff;
    font-size: 13px;
}

.form-styling {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.2);
}

label {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.7);
    display: block;
}

:focus {
    outline: none;
}

.form-signin input:focus,
textarea:focus,
.form-signup input:focus,
textarea:focus {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    padding-right: 40px;
    transition: background 0.5s ease;
}

.btn-signup {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: 23px;
    background-color: orange;
}

.btn-signin {
    float: left;
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: -8px;
    color: white;
}

.btn-animate {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: 23px;
    background-color: orange;
    left: 0px;
    top: 0px;
    transition: all 0.5s ease, top 0.5s ease 0.5s, height 0.5s ease 0.5s, background-color 0.5s ease 0.75s;
}

.btn-animate-grow {
    width: 130%;
    height: 625px;
    position: relative;
    left: -55px;
    top: -420px;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 1);
}

a.btn-signup:hover,
a.btn-signin:hover {
    cursor: pointer;
    background-color: rgb(255, 190, 70);
    transition: background-color 0.5s;
}

.forgot {
    height: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 24px;
    margin-top: -535px;
    border-top: solid 1px rgba(255, 255, 255, 0.3);
    transition: all 0.5s ease;
}

.forgot-left {
    transform: translateX(-400px);
    opacity: 0;
}

.forgot-fade {
    opacity: 0;
}

.forgot a {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
}

.container h1 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
}

.btn-goback {
    position: relative;
    margin-right: auto;
    top: -400px;
    float: left;
    padding: 8px;
    width: 83%;
    margin-left: 37px;
    margin-right: 37px;
    height: 35px;
    border-radius: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: orange;
    margin-top: -8px;
    border: solid 1px orange;
    opacity: 0;
    transition: top 1.5s ease 0.35s, opacity 0.75s ease 0.5s;
}

.btn-goback-up {
    top: -1080px;
    opacity: 1;
}

a.btn-goback:hover {
    cursor: pointer;
    background-color: orange;
    transition: all 0.5s;
    color: #ffffff;
}


/* refresh button styling */

#refresh {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
    padding: 13px 0 0 13px;
}

.refreshicon {
    fill: #d3d3d3;
    transform: rotate(0deg);
    transition: fill 0.25s ease, transform 0.25s ease;
}

.refreshicon:hover {
    cursor: pointer;
    fill: orange;
    transform: rotate(180deg);
}

body {
    /*background-color:rgb(228, 164, 4);*/
    background-color: #242424;
    display: block;
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:hover {
    cursor: pointer;
}

.contenedor a:hover {
    color: orange;
    background-color: black;
    border-radius: 10px;
}

.contenedor a {
    padding: 10px;
}

a.navegation {
    color: white;
    padding: 15px;
}

a.navegation:hover {
    color: orange;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo navContenedor user-header";
    width: 100%;
    padding: 10px;
    align-items: center;
}

#logo {
    padding: 10px;
    grid-area: logo;
    max-width: 100%;
    width: auto;
    height: 100%;
}

#profile-img {
    grid-area: profile-img;
    min-width: 50px;
    min-height: 50px;
    width: 100%;
    justify-self: stretch;
    place-self: center center;
}

#user {
    grid-area: user;
    display: flex;
    justify-self: end;
    align-self: flex-end;
    text-align: right;
}

#logout {
    grid-area: logout;
    display: flex;
    justify-self: end;
    align-self: flex-start;
    text-align: right;
}

#user-header {
    justify-self: right;
    grid-area: user-header;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "user profile-img" "logout profile-img";
    justify-content: center;
    column-gap: 10px;
}

#main-header {
    display: none;
    background-color: black;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
}

.navContenedor {
    grid-area: navContenedor;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    justify-items: center;
    justify-self: center;
}

.contenedor {
    /*margin-top: 115px;*/
    display: none;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 70px 0px;
    column-gap: 10px;
    margin-top: 10px;
    grid-template-areas: "left-column main-block right-column" "footer footer footer" "none none none";
}

#auxiliar {
    display: none;
    grid-area: none;
}

#footer {
    padding: 20px;
    color: orange;
    margin-top: 10px;
    background-color: black;
    grid-area: footer;
}

#curso {
    text-align: center;
}

#left-column {
    background-color: orange;
    grid-area: left-column;
}

#main-block,
#asignatura,
#calificaciones,
#contacto,
#estudiantes,
#faq,
#foro,
#mis-asignaturas,
#iu,
#ro,
#ac,
#is,
#ho {
    color: white;
    background-color: black;
    padding: 20px 20px 0 20px;
    grid-area: main-block;
    display: none;
}

#magistrales,
#reducidas {
    margin-left: 0;
}

.asignaturas-title {
    color: orange;
    border-style: solid;
    border-width: 0 0 2px 0;
    padding-bottom: 5px;
    padding-top: 15px;
}

#right-column {
    background-color: orange;
    grid-area: right-column;
}

#content-news {
    padding: 20px;
}

#content-news p {
    margin: 0;
}

section {
    padding-top: 20px;
}

h2 {
    color: black;
    border-style: solid;
    border-width: 0 0 2px 0;
    padding-bottom: 5px;
}

h1,
h3 {
    color: orange;
}

p {
    margin: 10px;
}

ul {
    list-style-type: none;
    text-align: left;
    margin-left: 10%;
    margin-top: 20px;
}

#foro {
    background-color: orange;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

li {
    padding-top: 25px;
    padding-bottom: 25px;
}

.introTema {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    margin: 2%;
}

p {
    padding: 10px;
    text-align: justify;
}

.introTema p {
    border: 2px solid orange;
    border-radius: 5px;
    text-align: center;
}

.imagenTema {
    max-width: 98%;
    height: auto;
    border-radius: 5px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.videos {
    max-width: 90%;
    height: auto;
    margin-top: 30px;
}

.vregion {
    display: inline-grid;
    grid-template-columns: 35% 65%;
    padding: 20px;
    column-gap: 10px;
}

.vregion iframe {
    max-width: 100%;
}

#noticias {
    width: 100%;
    max-width: 100%;
    margin-right: 20px;
}

#noticias h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-page tr:nth-of-type(odd) {
    background: orange;
}

.table-page th {
    background: black;
    color: white;
    font-weight: bold;
}

.table-page th img {
    border-radius: 45%;
    width: 60px;
    height: auto;
}

.table-page td,
.table-page th {
    padding: 6px;
    text-align: left;
}

.contact {
    margin: 20px;
}

#myBtn:hover {
    cursor: pointer;
    color: white;
    border-color: black;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 20;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: orange;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 10px;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

#send-message {
    padding: 10px;
}

#send-message-button {
    display: block;
    margin-top: 10px;
    padding: 5px;
    background-color: black;
    color: orange;
    text-align: center;
}

#logout2 {
    display: block;
    margin-top: 10px;
    padding: 5px;
    background-color: black;
    color: orange;
    text-align: center;
}


/* The Close Button */

.close,
.close2,
.close3 {
    margin-top: 0;
    margin-left: 10px;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*tablet*/

@media only screen and (max-width: 768px) {
    ul {
        margin-left: 0;
    }
    li {
        padding: 20px 15px 20px 20px;
    }
    .introTema {
        display: grid;
        grid-template-columns: 40% 60%;
    }
    nav {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "logo user-header" "navContenedor navContenedor";
    }
    .contenedor {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr 1fr 70px;
        grid-template-areas: "left-column main-block" "right-column main-block" "none main-block" "footer footer";
    }
    #auxiliar {
        display: block;
        grid-area: none;
        background-color: orange;
    }
    #main-block {
        grid-area: main-block;
    }
    #left-column {
        grid-area: left-column;
    }
    #righ-column {
        grid-area: righ-column;
    }
    #noticias {
        padding-top: 20px;
    }
    .vregion {
        display: block;
    }
    .videos {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .vregion iframe {
        padding-left: 13px;
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid orange;
    }
    td {
        border: none;
        border-bottom: 1px solid orange;
        position: relative;
        padding-left: 50%;
    }
    #foro tr {
        border-bottom: 2px solid black;
    }
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    #estudiantes td:nth-of-type(1):before {
        content: "Foto";
    }
    #estudiantes td:nth-of-type(2):before {
        content: "Nombre";
    }
    #estudiantes td:nth-of-type(3):before {
        content: "Apellidos";
    }
    #estudiantes td:nth-of-type(4):before {
        content: "Correo";
    }
    #estudiantes td:nth-of-type(5):before {
        content: "Msg";
    }
    #calificaciones td:nth-of-type(1):before {
        content: "NIA";
    }
    #calificaciones td:nth-of-type(2):before {
        content: "Parcial 1";
    }
    #calificaciones td:nth-of-type(3):before {
        content: "Parcial 2";
    }
    #calificaciones td:nth-of-type(4):before {
        content: "Practica final";
    }
    #foro td:nth-of-type(1):before {
        content: "Titulo";
        color: black;
    }
    #foro td:nth-of-type(2):before {
        content: "Mensajes enviados";
        color: black;
    }
    #foro td:nth-of-type(3):before {
        content: "Ultimo mensaje";
        color: black;
    }
    /*mobile*/
    @media only screen and (max-width: 600px) {
        nav {
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "logo user-header" "navContenedor navContenedor";
        }
        #user-header {
            grid-area: user-header;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 1fr;
            grid-template-areas: "profile-img" "logout";
        }
        #profile-img {
            grid-area: profile-img;
            min-width: 50px;
            min-height: 50px;
            width: 20%;
            justify-self: flex-end;
            align-self: flex-end;
        }
        #logout {
            font-size: 50%;
            display: flex;
            justify-self: flex-end;
            align-self: flex-start;
            text-align: right;
        }
        #user {
            display: none;
        }
        .navContenedor {
            padding-right: 0%;
        }
        .contenedor {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto 70px 0px;
            grid-template-areas: "left-column" "main-block" "right-column" "footer" "none";
        }
        #main-block {
            margin-top: 10px;
            color: white;
            background-color: black;
            padding: 30px 20px 0 20px;
        }
        #right-column {
            margin-top: 10px;
        }
        #auxiliar {
            grid-area: none;
            visibility: hidden;
        }
        h2 {
            color: black;
            border-style: solid;
            border-width: 0 0 2px 0;
            padding-bottom: 5px;
        }
        ul {
            list-style-type: none;
            text-align: left;
            margin-left: 30px;
            margin-top: 20px;
        }
        li {
            padding: 25px;
        }
        .introTema {
            display: block;
        }
        .imagenTema {
            display: block;
            max-width: 90%;
            width: 45%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
        h1 {
            text-align: center;
        }
    }
}