img{
    margin-top: 10px;
    margin-left: 50px;
}
li{
    float: left;
    list-style: none;
    padding: 10px;
}
nav{
    float: right;
    margin-right: 300px;
}
a{
    color: black;
    text-decoration: none;
    font-family: fantasy;
}
a:hover{
    font-size: 120%;
    color: white;
}
header{
    background-color: rgb(235, 85, 75);
}